<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/result" method="post">
    <table>
        <tr>
            <td>
                A:<input type="text" name="a">
                B:<input type="text" name="b">
                <button type="submit" >Result</button>
            </td>
        </tr>
        <tr>
            <td>
                <select name="caculator">
                    <option value="+">Cộng(+)</option>
                    <option value="-">Trừ(-)</option>
                    <option value="*">Nhân(*)</option>
                    <option value="/">Chia(/)</option>
                </select>
            </td>
        </tr>
    </table>
</form>
</body>
</html>