<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table>
    <tr>
        <td><input type="number" name ='number1' placeholder="Mời Nhập Số a"></td>
        <td><input type="number" name ='number2' placeholder="Mời Nhập Số b"></td>
        <td><input type="Submit"></td>
    </tr>
    <tr>
        <td>
        <select name="caculator" id="caculator">
            <option value="+">Cộng(+)</option>
            <option value="-">Trừ(-)</option>
            <option value="*">Nhân(*)</option>
            <option value="/">Chia(/)</option>
        </select>
        </td>
    </tr>
    </table>
</form>
</body>
</html>